@model POE_PART1.Models.GoodsAllocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GoodsAllocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_of_Iteams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_of_Iteams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.disaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.disaster.Distaster_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
