@model POE_PART1.Models.activeDisaster

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>activeDisaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aid_Types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aid_Types)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Distaster_Name">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
