@model POE_PART1.Models.Monetary_donations

@{
    ViewData["Title"] = "Details";
}
<style>


    .container {
        background-color: white;
        background-repeat: no-repeat;
        background-size: 1150px 800px;
        padding: 20px; /* Add padding for spacing inside the container */
        border: 5px solid #ff7f00; /* Add a border for visualization */
    }
</style>

<h1>Details</h1>

<div>
    <h4>Monetary_donations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anonymous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anonymous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
